<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>

	<!-- Barra de Navegacion superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h3 th:text="#{offers.list}" style="text-align: left"></h3>
		<p th:if="${offerList.size()>0}" th:text="#{actual.offers}" style="text-align: left"></p>
		<p th:if="${offerList.size()==0}" th:text="#{text.noOfferAdded}"></p>


		<div class="table-responsive" th:if="${offerList.size()>0}">
			<table class="table table-hover" th:fragment="tableOffers" id="tableOffers">
				<thead>
					<tr>
						<th></th>
						<th style="text-align: left" th:text="#{table.title}"></th>
						<th style="text-align: left" th:text="#{table.description}"></th>
						<th style="text-align: left" th:text="#{table.price}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<th class="col-md-1"></th>
						<td th:text="${offer.title}"></td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.price}"></td>
						<td><a th:id="${'del' + offer.title}" th:href="${'/offer/delete/' + offer.id}" th:text="#{remove}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${offerList.size()>0}">
			<footer th:replace="fragments/pagination"/>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>