<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container" style="">
		<h3 th:text=#{offers.list} style="text-align: left"></h3>

		<button type="button" id="updateButton" class="btn btn-default" th:text=#{actualice} ></button>
		<script th:inline="javascript">
 				/*<![CDATA[*/
				$("#updateButton").click(function() {
					var numberPage = [[${param.page}]];
					var urlUpdate = '/offer/list/update';
					/* if (numberPage != null ){
					 urlUpdate += "?page="+numberPage[0];
					 } */
					 $("#tableOffers").load(urlUpdate);
					 });
					 /*]]>*/
		</script>
		
		<p th:text=#{actual.offers} style="text-align: left"></p>

		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOffers" id="tableOffers">
	
				<thead>
					<tr>
						<th></th>
						<th style="text-align: left" th:text=#{table.id}></th>
						<th style="text-align: left" th:text=#{table.title}></th>
						<th style="text-align: left" th:text=#{table.description}></th>
						<th style="text-align: left" th:text=#{table.date}></th>
						<th style="text-align: left" th:text=#{table.price}></th>
						
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<th class="col-md-1"></th>
						<td th:text="${offer.id}">
							<span th:if="${offer.user_id} == ${user.id}"></span>
						</td>
						<td th:text="${offer.title}"></td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.date}"></td>
						<td th:text="${offer.price}"></td>
						<td><a sec:authorize="hasRole('ROLE_USER')"
							th:href="${'/offer/delete/' + offer.id}" th:text=#{remove}></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>